{
    CFBundleDevelopmentRegion = "zh_CN";
    CFBundleExecutable = "DecoyLockPrefs";
    CFBundleIdentifier = "com.blr.decoylock.prefs";
    CFBundleInfoDictionaryVersion = "6.0";
    CFBundleName = "DecoyLockPrefs";
    CFBundlePackageType = "BNDL";
    CFBundleShortVersionString = "0.1.23";
    CFBundleVersion = "0.1.23";
    CFBundleDisplayName = "伪锁屏设置";
    NSPrincipalClass = "DLRootListController";
}
